#content, #footer {
	max-width: 1200px;
	margin: auto;
}

#main {
	width: 1000px;
	margin: auto;
}

#footer > div {
	padding: 15px;
	margin: auto;
	width: 300px;
}

ul.pagination {
	display: table;
	margin: 0 auto;
}

.pagination > .active > span {
	color: #555 !important;
	background-color: #e7e7e7 !important;
	border-color: #e7e7e7 !important;
}

.pagination > li > a {
	color: #555 !important;
}

.page-header > h1 {
	width: auto;
	line-height: 75px;
}

#logo {
	float: right;
	margin-top: 0;
}

#alert{
	color: red;
}
