<% if user_sign_in?%>
  <h2>navigation</h2>
  <ul>
  <li><%=link_to "My account", user_path(current_user)%></li>
  <li><%=link_to "Users", users_path%></li>
  <li>
    <%=link_to "Sign out", destroy_user_session_path, :method => :delete%>
  </li>

  </ul>
<% else%>

<%end%>
